*.jl.cov
*.jl.*.cov
*.jl.mem
*~
docs/build/
docs/site/
/src/.juliahistory
/test/.juliahistory

/notebooks/.juliahistory
**/_minted-*/*
/notebooks/docs.tex
/docs/docs.bbl
/docs/docs.html
/docs/docs.tex
/docs/sitemap.org
