*.jl.cov
*.jl.*.cov
*.jl.mem
*~
docs/build/
docs/site/
/src/.juliahistory
/test/.juliahistory

/notebooks/.juliahistory
**/_minted-*/*
/notebooks/docs.tex
/docs/docs.bbl
/docs/docs.tex
/docs/sitemap.org
/docs/.juliahistory
/docs/docs.pdf
/notebooks/docs.pdf
/docs/index_preamble.html
